/**
 * Tout ce qui concerne le jeu
 */

#mapContainer {
	position: absolute;
	left: 20.95%;
	top: -2.5%;
}

#player {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 3;
}

.tile {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 1;
}

.box {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 3;
}

/**
 * css du hud
 */

#hudSpecialText {
    position: absolute;
    text-align: center;
	font-family:Fipps, sans-serif;
    font-size: 1em;
    left: 5.72%;
    top: 26.56%;
}
.hudSpecialLogo {
    position: absolute;
    font-family:Fipps, sans-serif;
    width: 3.96%;
    height: 7%;
    top: 34.375%;
    background-size: 100% 100%;
}


#hudTimeText {
    position: absolute;
    font-family:Fipps, sans-serif;
    font-size: 1.2em;
    top: 64%;
    left: 10.12%;
}

#hudActionTitleText {
    position: absolute;
    font-family:Fipps, sans-serif;
    font-size: 1em;
    top: 42%;
    left: 6.95%;
}
#hudActionNumberText {
    position: absolute;
    font-family:Fipps, sans-serif;
    font-size: 1.2em;
    top: 47.65%;
    left: 11.17%;
}

#hudParTitleText {
    position: absolute;
    font-family:Fipps, sans-serif;
    font-size: 1.1em;
    top: 55.78%;
    left: 6.86%;
}
#hudParNumberText {
    position: absolute;
    font-family:Fipps, sans-serif;
    font-size: 1.2em;
    top: 55.4%;
    left: 13.48%;
}

#menuContainer .buttonMenu {
	position: absolute;
	left: 80.10%;
	height: 7.81%;
    width: 14%;
    background-size: 100% 100%;
    font-size: 0.8em;
}

#menuContainer #OptionsBtn {
    top: 27.3%;
    cursor: pointer;
}

#menuContainer #HelpBtn {
    top: 35.15%;
    cursor: pointer;
}

#menuContainer #MenuBtn {
    top: 43%;
    cursor: pointer;
}

#menuContainer #ResetBtn {
    top: 50.7%;
    cursor: pointer;
}

#menuContainer #UndoBtn {
    top: 58.5%;
    cursor: pointer;
}

#menuContainer #RedoBtn {
    top: 66.4%;
    cursor: pointer;
}