/**
 * css du popUp "Désormais connecté".
 */

.goodPasswordText {
    margin-top: 1.56%;
}


.goodPasswordTitle {
    text-align: center;
    padding-top: 0.15%;
    font-size: 1.3em;
}


.goodPasswordDesc {
	text-align: center;
	line-height: 150%;
	font-size: 0.8em;
    padding-top: 5.46%;
}

.buttonCloseGoodPassword {
    position: absolute;
    text-align: center;
    font-family:Fipps, sans-serif;
    background-size: 100%100%;
    font-size: 0.7em;
    left: 37.64%;
    top: 75.56%;
    height: 14.5%;
    width: 24.13%;
    cursor:pointer;
    padding-top: 3px;
}