/**
 * Css de Help
 */
#Help {
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
}


#helpBackground {
	position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.helpText {
	font-family:Fipps, sans-serif;
	position: absolute;
	text-align: center;
	line-height: 1.4;
}

#helpTitle0 {
	font-size: 1.2em;
	left: 13.20%;
	top: 20.3%;
}

#helpTitle1 {
	font-size: 1.2em;
	left: 65.4%;
	top: 20.3%;
}

#helpLittle0 {
	font-size: 1.2em;
	left: 23.7%;
	top: 39%;
}

#helpLittle1 {
	font-size: 1.2em;
	left: 22%;
	top: 60%;
}

#helpLittle2 {
	font-size: 1.2em;
	left: 22.88%;
	top: 78.9%;
}

#helpLittle3 {
	font-size: 1.2em;
	left: 76%;
	top: 44.5%;
}

#helpLittle4 {
	font-size: 1.2em;
	left: 74.8%;
	top: 72.6%;
}

#helpButtonClose {
	font-family:Fipps, sans-serif;
	position: absolute;
	text-align: center;
	width: 20.25%;
	height: 10.9%;
	background-size: 100% 100%;
	left: 61.61%;
	top: 85.9%;
	font-size: 1em;
	padding-top: 0.93%;
}